body {
  height: 458px;
  width: 694px;
  color: white;
  background-color: #024542;
}

// GOOGLE FONTS

// font-family: 'Meddon', cursive;
// font-family: 'Playfair Display SC', serif;
// font-family: 'Codystar', cursive;
// font-family: 'Parisienne', cursive;

